@import "tailwindcss";

/* .header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo-img{
    width:70px;
}
.nav-items{
    font-size: 18px;
    margin: 0 10px;
}
.nav-items > ul{
    display: flex;
    list-style-type: none;
}

.nav-items > ul> li{
    padding: 5px;
}

.rest-card{
    padding: 5px;
    margin: 5px;
    width: 180px;
    background-color: #f0f0f0;
}

.rest-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.rest-container{
    display: flex;
    flex-wrap: wrap;
}

.res-logo{
    width: 100%;
    height: 150px;
}

.search{
    padding: 20px 0;
}

.top-rest{
    margin: 10px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 10px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}


.userContainer{
    border: 1px solid black;
    margin: 30px 0;
} */